html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;

  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}
header {
  background-color: #333333;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: white;
}

.heading {
  text-align: center;
  padding: 1%;
}
.logo {
  color: white !important;
  text-decoration: none !important;
}

.products {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products:hover {
  transform: scale(1.1);
}

.addToCart {
  width: 70%;
}

.qty {
  float: right;
  font-size: 12px;
  color: red;
}
.singleProduct {
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  margin-top: 2%;
  width: 60% !important;
  height: 50%;
}

.productPrice {
  font-weight: bold;
  font-size: 20px;
}

.cardBody {
  height: 80%;
  margin-bottom: 5%;
}

.productTitle {
  font-size: 60px;
}

.single-qty {
  float: right;
  font-size: 20px;
  color: red;
}

.productCard {
  height: 500px;
  padding: 10px;
  margin: 16px;

}

.login {
  width: 30%;
  float: right;
  margin: 0.5%;
}

.formCard {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: white;
  border: #333333;
  padding: 10px;
}

.headerIcons {
  float: right;
}

.productText {
  height: 40%;
}

.productsPage {
  display: flex;
  align-items: center;
}

.prodImg {
  height: 100%;
}

.qtyIncDecBtn {
  float: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 20px;
}

.qtyInput {
  width: 40px;
  border: 3px solid #555;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.qtyInput::-webkit-outer-spin-button,
.qtyInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qtyInput {
  -moz-appearance: textfield;
}

.headerIcons {
  cursor: pointer;
  margin: 10px;
}

.cartPage {
  margin-right: auto;
  margin-left: auto;
  
}

.adminPage {
  margin-right: auto;
  margin-left: auto;
  background-color: transparent!important;
  border: none!important;
}

.cartProdImg {
  width: 40% !important;
}

.adminProdImg {
  width: 200px!important;
  height: 200px!important;
}

.cartQty {
  width: 40px;
  border: 3px solid #555;
  text-align: center;
}

.cart {
  position: relative;
  padding: 2%;
  height: 5%;
}

.productAdmin {
  position: relative;
  padding: 2%;
  height: 5%;
  margin: 2%;
}

.checkout {
  display: flex;
  justify-content: flex-end;
}

.errors {
  color: red !important;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  z-index: 2;
}

.label {
  font-weight: bold;
}

.profileIcon {
  margin: auto;
  text-align: center;
  font-size: 100px;
}

.profile {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 30px;
  background-color: transparent !important;
  border: none !important;
}

.orderConfrimed{
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
  background-color: transparent !important;
  border: none !important;
  text-align: center;
  font-size: 50px;
}

.deleteIcon{
  color: red;
}

.deleteIcon:hover{
  cursor: pointer;
}

.accordion-button::after {
  display: none !important; 
}

frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, darkmagenta 0%, hotpink 100%);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	opacity: 0;
}
.accordion-item:first-of-type .accordion-button{
  background-color: white!important;
}

